<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse.mist.shurokkkha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start" />
        <activity android:name=".AboutApp" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FeelingUnsafe" />
        <activity android:name=".TrustedContacts" />
        <activity android:name=".DomesticViolence" />
        <activity android:name=".Unsafe" />
        <activity android:name=".Map1"></activity>
    </application>

</manifest>